@import "~bootstrap/scss/variables";

html[darkmode] {
  // Generate dark palettes for theme colors.
  $primary:       #20c997;
  $secondary:     #5e7683;
  $highlight:     #d63384;
  $success:       $green;
  $info:          $cyan;
  $warning:       $yellow;
  $danger:        $red;
  $accent-1:      #212529;
  $accent-2:      #414850;
  $accent-3:      #adb5bd;
  $light:         #f1f3f5;
  $dark:          #343a40;

  $input-color: $white;
  $input-bg: $gray-800;
  $form-select-indicator-color: $gray-600;
  $form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/></svg>");

  $theme-colors: (
    "primary":    $primary,
    "secondary":  $secondary,
    "highlight":  $highlight,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "accent-1":   $accent-1,
    "accent-2":   $accent-2,
    "accent-3":   $accent-3,
    "light":      $light,
    "dark":       $dark
  );

  @each $color, $value in $theme-colors {
    --#{$variable-prefix}#{$color}: #{$value};

    .btn-#{$color} {
      --#{$variable-prefix}btn-bg: #{$value};
      --#{$variable-prefix}btn-border-color: #{$value};
      --#{$variable-prefix}btn-hover-bg: #{shade-color($value, 20%)};
      --#{$variable-prefix}btn-hover-border-color: #{shade-color($value, 40%)};
      --#{$variable-prefix}btn-active-bg: #{shade-color($value, 40%)};
      --#{$variable-prefix}btn-active-border-color: #{shade-color($value, 60%)};
      --#{$variable-prefix}btn-disabled-bg: #{$value};
      --#{$variable-prefix}btn-disabled-border-color: #{$value};
    }

    .btn-outline-#{$color} {
      --#{$variable-prefix}btn-color: #{$value};
      --#{$variable-prefix}btn-border-color: #{$value};
      --#{$variable-prefix}btn-hover-bg: #{$value};
      --#{$variable-prefix}btn-hover-border-color: #{$value};
      --#{$variable-prefix}btn-active-bg: #{$value};
      --#{$variable-prefix}btn-active-border-color: #{$value};
      --#{$variable-prefix}btn-disabled-color: #{$value};
      --#{$variable-prefix}btn-disabled-border-color: #{$value};
    }
  }

  $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");

  @each $color, $value in $theme-colors-rgb {
    --#{$variable-prefix}#{$color}-rgb: #{$value};
  }

  // Simply switch background & text color
  --#{$variable-prefix}body-color: #{$body-bg};
  --#{$variable-prefix}body-bg: #{$body-color};

  --#{$variable-prefix}body-color-rgb: #{to-rgb($body-bg)};
  --#{$variable-prefix}body-bg-rgb: #{to-rgb($body-color)};

  .form-control,
  .form-select {
    color: $white;
    background-color: $gray-800;
    border: 1px solid $gray-700;
  }

  .form-select {
    background-image: escape-svg($form-select-indicator) !important;
  }

  .modal-dialog {
    .modal-header, .modal-footer {
      border-color: $gray-700;
    }
    .modal-content {
      background-color: $gray-900;
    }
  }

  .sweet-alert {
    background-color: $gray-900 !important;
  }
}
